footer{
    text-align: center;
    background-color: #000;
    width: 100%;
    height: auto;
    color:white;
    padding: 3rem;
    margin-top: 10px; 
}


/*Banner style*/

header nav{
    background: linear-gradient(#F2285A,#E25050,#FF6F29);
    padding: 10px;
    margin-bottom: 10px;
}


header nav ul li{
    display: inline-block;

}
header nav ul li a{
    color: white;
}

header nav ul li a:hover{
    text-decoration: none;
}

/* Login style */

.panel-login-col{
    height:50rem;
}

.background-login-col{
    background-color: #F2285A;
}
/*  register style   */
