footer{
    text-align: center;
    background-color: #000;
    width: 100%;
    height: auto;
    color:white;
    padding: 3rem;
}

nav{
    background: linear-gradient(#F2285A,#E25050,#FF6F29)
}
/*  register style   */
